---
---

@import "";

/* hide head and title (we don't need it since we have the large logo image) */
.page-header 
{
    position: absolute;
    height: 0px;
    background: rgba(255, 255, 255, 0);
    height: 0px;
    overflow: hidden;
}
.project-name
{
    display: none;
}
.project-tagline
{
    display: none;
}

/* show just the "see on github" button, as a top bar that sticks to the top. */
.page-header .btn
{
    position: fixed;
    background: rebeccapurple;
    left: 0px;
    width: 100%;
    top: 0px;
}